body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url(https://images.unsplash.com/photo-1475721027785-f74eccf877e2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);*/
  background-image: url(../public/assets/images/bg.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video_search_container {
  height: calc(100vh - 217px);
}

.playlist_container {
  height: calc(100vh - 430px);
}

.configpannel_container {
  height: calc(100vh - 330px);
}

.effects_container {
  height: calc(100vh - 626px);
}

.scroll {
  margin: 30px auto 0 auto;
  box-shadow: 0 0 2px gray;
  padding: 20px;
  overflow: auto; 
  margin-top: 15px;
  width: 100%;
}

/* Define the scrollbar style */
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Define the thumb style */
.scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #2f3f68 0%, #52628f 100%);
  border-radius: 3px;
}

/* Define the track style */
.scroll::-webkit-scrollbar-track {
  background-color: #424242;
  border: 1px solid #424242;
}

/* Define the button style */
.scroll::-webkit-scrollbar-button {
  background-color: #4d7fff;
  border-radius: 3px;
}

/* Define the button style when being hovered over */
.scroll::-webkit-scrollbar-button:hover {
  background-color: #999999;
}